apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-mongodb
  namespace: innowise
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-mongodb
  template:
    metadata:
      labels:
        app: payment-mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:7.0
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_DATABASE
              value: payment_service
          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
      volumes:
        - name: mongo-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: payment-mongodb
  namespace: innowise
spec:
  selector:
    app: payment-mongodb
  ports:
    - port: 27017
      targetPort: 27017
