spring:
  application:
    name: auth-service
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: ${SHOW_SQL:false}

server:
  port: 8081

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
    enabled: true

user:
  service:
    url: ${USER_SERVICE_URL}

app:
  jwt:
    secret: ${JWT_SECRET}
    access-token-expiration: 900000     # 15 minutes
    refresh-token-expiration: 604800000     # 7 days

api:
  gateway:
    internal-token: ${API_GATEWAY_INTERNAL_TOKEN}

logging:
  level:
    com.stoliar: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: ${SHOW_SQL:false}