apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  namespace: innowise
data:
  application.yml: |
    server:
      port: 8083
    spring:
      application:
        name: api-gateway
      cloud:
        gateway:
          discovery:
            locator:
              enabled: false
      reactor:
        context-propagation: auto
    gateway:
      auth:
        url: http://auth-service:8081
      user:
        url: http://user-service:8080
      order:
        url: http://order-service:8082
      payment:
        url: http://payment-service:8084
        
    app:
      jwt:
        secret: ${JWT_SECRET}
    
    gateway-admin:
      email: ${GATEWAY_ADMIN_EMAIL:admin@example.com}
      password: ${GATEWAY_ADMIN_PASSWORD:admin123}
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
          base-path: /actuator