apiVersion: v1
kind: ConfigMap
metadata:
  name: payment-service-config
  namespace: innowise
data:
  application.yml: |
    spring:
      application:
        name: payment-service
      data:
        mongodb:
          uri: ${MONGODB_URI}
          auto-index-creation: true
      liquibase:
        enabled: true
        change-log: classpath:db/changelog/changelog-master.yaml
      kafka:
        bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
        producer:
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
          properties:
            spring.json.add.type.headers: false
            spring.json.type.mapping: paymentEvent:com.stoliar.dto.event.PaymentEvent
        topics:
          payment-events: ${KAFKA_TOPIC_PAYMENT_EVENTS:payment-events}
    
    server:
      port: 8084
      servlet:
        context-path: /
    
    external:
      api:
        url: https://www.random.org/integers
    
    payment:
      service:
        fallback:
          enabled: true
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
          base-path: /actuator
          path-mapping:
            health: health
            info: info
            metrics: metrics
            prometheus: prometheus
      metrics:
        export:
          prometheus:
            enabled: true
          tags:
            application: payment-service
      endpoint:
        health:
          show-details: always
          probes:
            enabled: true
        prometheus:
          enabled: true
      health:
        mongo:
          enabled: true
      tracing:
        enabled: true
      observations:
        key-values:
          application: ${spring.application.name}
    
    logging:
      pattern:
        console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n [trace_id=%X{trace_id:-}, span_id=%X{span_id:-}]%n"
      level:
        com.stoliar: DEBUG
        io.opentelemetry: DEBUG
        org.springframework.web: DEBUG
        org.springframework.security: INFO
    
