apiVersion: v1
kind: ConfigMap
metadata:
  name: user-service-config
  namespace: innowise
data:
  application.yml: |
    spring:
      application:
        name: user-service
      datasource:
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: org.postgresql.Driver
      jpa:
        hibernate:
          ddl-auto: validate
        properties:
          hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
            format_sql: true
        show-sql: false
      liquibase:
        enabled: true
        change-log: classpath:db/changelog/db.changelog-master.yaml
      data:
        redis:
          host: redis
          port: 6379
          timeout: 2000ms
        
    server:
      port: 8080
    
    app:
      jwt:
        secret: ${JWT_SECRET}
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
          base-path: /actuator
