apiVersion: v1
kind: ConfigMap
metadata:
  name: order-service-config
  namespace: innowise
data:
  application.yml: |
    spring:
      application:
        name: order-service
      datasource:
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driver-class-name: org.postgresql.Driver
      jpa:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
          ddl-auto: validate
        properties:
          hibernate:
            format_sql: true
        show-sql: false
      liquibase:
        enabled: true
        change-log: classpath:db/changelog/db.changelog-master.yaml
      kafka:
        bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
        consumer:
          group-id: ${SPRING_KAFKA_CONSUMER_GROUP_ID:order-service-payment-events}
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
        admin:
          properties:
            bootstrap.servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
        topics:
          payment-events: ${KAFKA_TOPIC_PAYMENT_EVENTS:payment-events}
    
    server:
      port: 8082
    
    user:
      service:
        url: ${USER_SERVICE_URL}
    
    resilience4j:
      circuitbreaker:
        instances:
          userService:
            base-config: default
    
    management:
      endpoints:
        web:
          exposure:
            include: health,info,metrics,prometheus
          base-path: /actuator
