spring:
  config:
    activate:
      on-profile: local

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.stoliar.user_service: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type: TRACE