apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: innowise
  labels:
    app: auth-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8081"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.36
          command: [ 'sh', '-c', 'until nc -z auth-db 5432; do sleep 3; done' ]
      containers:
        - name: auth-service
          image: auth-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8081
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8081
            initialDelaySeconds: 60
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8081
            initialDelaySeconds: 40
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          env:
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_URL_AUTH
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_USERNAME_AUTH
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_PASSWORD_AUTH
            - name: SPRING_LIQUIBASE_URL
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_URL_AUTH
            - name: SPRING_LIQUIBASE_USER
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_USERNAME_AUTH
            - name: SPRING_LIQUIBASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_PASSWORD_AUTH
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
            - name: API_GATEWAY_INTERNAL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: API_GATEWAY_INTERNAL_TOKEN
            - name: SPRING_CONFIG_LOCATION
              value: "file:/app/config/application.yml"
            - name: SPRING_LIQUIBASE_ENABLED
              value: "true"
            - name: USER_SERVICE_URL
              value: "http://user-service:8080"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          volumeMounts:
            - name: config
              mountPath: /app/config/application.yml
              subPath: application.yml
      volumes:
        - name: config
          configMap:
            name: auth-service-config