apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: innowise
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8084"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      initContainers:
        - name: wait-for-mongodb
          image: busybox:1.36
          command: ["sh", "-c", "until nc -z payment-mongodb 27017; do sleep 3; done"]
        - name: wait-for-kafka
          image: busybox:1.36
          command: [ "sh", "-c", "until nc -z kafka 9092; do sleep 3; done" ]
      containers:
        - name: payment-service
          image: payment-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8084
          env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: mongodb-secrets
                  key: MONGODB_URI
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
            - name: API_GATEWAY_INTERNAL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: API_GATEWAY_INTERNAL_TOKEN
            - name: SPRING_CONFIG_LOCATION
              value: "file:/app/config/application.yml"
            - name: SPRING_LIQUIBASE_ENABLED
              value: "true"
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              value: "kafka:9092"
            - name: KAFKA_TOPIC_PAYMENT_EVENTS
              value: "payment-events"
            - name: USER_SERVICE_URL
              value: "http://user-service:8080"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          volumeMounts:
            - name: config
              mountPath: /app/config/application.yml
              subPath: application.yml
      volumes:
        - name: config
          configMap:
            name: payment-service-config
