apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: innowise
  labels:
    app: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      initContainers:
        - name: wait-for-db
          image: busybox:1.36
          command: [ 'sh', '-c', 'until nc -z user-db 5432; do sleep 3; done' ]
      containers:
        - name: user-service
          image: user-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_URL_USER
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_USERNAME_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_PASSWORD_USER
            - name: SPRING_LIQUIBASE_URL
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_URL_USER
            - name: SPRING_LIQUIBASE_USER
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_USERNAME_USER
            - name: SPRING_LIQUIBASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secrets
                  key: DB_PASSWORD_USER
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: JWT_SECRET
            - name: API_GATEWAY_INTERNAL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: API_GATEWAY_INTERNAL_TOKEN
            - name: SPRING_CONFIG_LOCATION
              value: "file:/app/config/"
            - name: SPRING_LIQUIBASE_ENABLED
              value: "true"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          volumeMounts:
            - name: config
              mountPath: /app/config
      volumes:
        - name: config
          configMap:
            name: user-service-config